*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;

}

#left{
    position: relative;
    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 175);
}

#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

#lnavr a{

    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

#lnavr i{
    color: rgb(29, 161, 242);
}

#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#lnavr{
    display: flex;
    align-items: center;
}

#textcenter h1{
    font-size: 90px;
    font-weight: 900;
}

#textcenter p1{
    font-size: 19px;
    border-bottom: 2px solid black; 
}

#textcenter p{
    opacity: 0.7;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#textcenter a{
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.7;
    color: black;
}

#bysaurabh {
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border: 2px solid black;
    border-radius: 23px;
    cursor: pointer; /* Add a pointer cursor for better UX */
    transition: all 0.3s ease-in-out; /* Apply a smooth transition */
    transform-origin: center center; /* Set the transform origin to the center */
    color: rgb(255, 255, 175); /* Initial text color */
    background-color: rgb(37, 37, 35);
}

#bysaurabh:hover {
    color: rgb(255, 255, 175); /* Change the text color on hover */
    /*transform: translateX(-50%) scale(0.5); /* Apply scale transformation on hover */
}

#bysaurabh:active {
    color: rgb(251, 251, 251); /* Change the text color on click */
    transform: translateX(-50%) scale(0.7); /* Apply scale transformation on click */
}



    

#right{
    width: 60%;
    height: 100%;
    background-color: rgb(66, 59, 59);
}

#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
}

#rbottom{
    width: 100%;
    height: 50%;
    background:url(https://images.unsplash.com/photo-1619241638225-14d56e47ae64?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG9yYW5nZSUyMHN0cmF3fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}

#rtopleft{
    width: 55%;
    height: 100%;
    background:url(https://images.unsplash.com/photo-1590005354167-6da97870c757?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGFwcGxlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}

#rtopright{
    width: 45%;
    height: 100%;
    background: url(https://images.unsplash.com/photo-1599076480086-fd46f116eb8c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTN8fG9yYW5nZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}

@media(max-width: 500px){
    #main{
        flex-direction: column;
    }

    #main #left{
        width: 100%;
    }

    #main #right{
        width: 100%;
    }
}

